<div class="h-full flex justify-center items-center">
  <div class="login-form">
    <div class="mb-10">
      <img src="/assets/images/logo.png" class="w-full">
    </div>

    <form class="flex flex-col gap-4">
      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="Email" placeholder="Email">
        <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home" matSuffix></mat-icon>
        <mat-hint>Ingrese su email</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Constraseña</mat-label>
        <input matInput type="password" placeholder="Constraseña">
        <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        <mat-hint>Ingrese su contraseña</mat-hint>
      </mat-form-field>

      <div class="text-center">
        <button mat-flat-button (click)="handleLogin()">Iniciar sesión</button>
      </div>
    </form>
  </div>
</div>